[Unit]
Description=Start Clearbot driver node
After=network.target

[Service]
ExecStart=/bin/bash -c "source /home/kasutaja/catkin_ws/devel/setup.bash && roslaunch robotont_driver driver_basic.launch"
WorkingDirectory=/home/kasutaja
StandardOutput=inherit
StandardError=inherit
Restart=always
User=kasutaja

[Install]
WantedBy=multi-user.target
