[Unit]
Description=Start Robotont ROS bringup nodes
After=network-online.target

[Service]
ExecStart=/bin/bash -ic "ros2 launch robotont_support robotont_bringup.launch.py namespace:=rt{{ id }} generation:=3lite lidar:=true camera:=true slam:=false"
WorkingDirectory=/home/{{ robotont_user }}
StandardOutput=inherit
StandardError=inherit
Restart=always
User={{ robotont_user }}

[Install]
WantedBy=multi-user.target
