# Let NetworkManager manage all devices on this system
network:
  version: 2
  renderer: NetworkManager
  wifis:
    wlp58s0:
      dhcp4: no
      addresses:
        - 192.168.200.{{ id }}/24
      access-points:
        "robotont-{{ id }}":
          password: "{{ wifi_pass }}"
          mode: ap
